/client/vcmiclient
/server/vcmiserver
/launcher/vcmilauncher
/launcher/vcmilauncher_automoc.cpp

*.dll
*.exe
*.depend
*.o
*.a
*.so
*.res
*.layout
*.pro.user
*.pro.user.*
*.swp
*.h.gch
*~
*.autosave.*
/CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*_cotire.cmake
cotire
moc_*.cpp
qrc_*.cpp
ui_*.h
/CPackConfig.cmake
/CPackSourceConfig.cmake
build-*
CMakeLists.txt.user.*
Doxyfile
doc/*
VCMI_VS11.sdf
*.ipch
VCMI_VS11.opensdf

# Visual Studio
*.suo
*.user
/AI/*/RD
/client/RD
/launcher/RD
/lib/RD
/lib/minizip/RD
/scripting/erm/RD
/server/RD
/test/RD
/VCMI_VS11.VC.opendb
/AI/FuzzyLite.lib
/deps
.vs/
/jichu
/jsonTest
/launcher/Debug
/client/Debug
/lib/Debug
/lib/minizip/Debug
/lib/minizip/x64/RD
/lib/minizip/x64/RD64/minizip.tlog
/lib/minizip/x64/RD64
/PCHS
/scripting/erm
/server/Debug
/test/Debug
/AI/EmptyAI/Debug
/AI/StupidAI/Debug
/AI/VCAI/Debug
*.zip
/VCMI_VS11.VC.VC.opendb
/VCMI_VS15.VC.VC.opendb
*.db
*.db
*.sdf
*.cd
